@font-face {
    font-family: "Flaticon";
    src: url("../assets/fonts/flaticon.eot");
    src: url("../assets/fonts/flaticon.eot#iefix") format("embedded-opentype"), url("../assets/fonts/flaticon.woff") format("woff"), url("../assets/fonts/flaticon.ttf") format("truetype"), url("../assets/fonts/flaticon.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-size: 80px;
    font-style: normal;
    padding: 10px;
    -webkit-backface-visibility: hidden;
    line-height: 1;
}
/* ================= ICONS ================== */
.flaticon-24:before {
	content: "\e000";
}
.flaticon-adhesive:before {
	content: "\e001";
}
.flaticon-adn2:before {
	content: "\e002";
}
.flaticon-ambulance:before {
	content: "\e003";
}
.flaticon-dog2:before {
	content: "\e004";
}
.flaticon-broken36:before {
	content: "\e005";
}
.flaticon-caduceus5:before {
	content: "\e006";
}
.flaticon-cat:before {
	content: "\e007";
}
.flaticon-cat2:before {
	content: "\e008";
}
.flaticon-food2:before {
	content: "\e009";
}
.flaticon-clock:before {
	content: "\e00a";
}
.flaticon-dog:before {
	content: "\e00b";
}
.flaticon-dog8:before {
	content: "\e00c";
}
.flaticon-dog4:before {
	content: "\e00d";
}
.flaticon-dog5:before {
	content: "\e00e";
}
.flaticon-dog81:before {
	content: "\e00f";
}
.flaticon-dog7:before {
	content: "\e010";
}
.flaticon-dog3:before {
	content: "\e011";
}
.flaticon-dog73:before {
	content: "\e012";
}
.flaticon-ecg:before {
	content: "\e013";
}
.flaticon-first:before {
	content: "\e014";
}
.flaticon-award:before {
	content: "\e015";
}
.flaticon-net:before {
	content: "\e016";
}
.flaticon-fish:before {
	content: "\e017";
}
.flaticon-flying14:before {
	content: "\e018";
}
.flaticon-gecko2:before {
	content: "\e019";
}
.flaticon-handicap:before {
	content: "\e01a";
}
.flaticon-heart13:before {
	content: "\e01b";
}
.flaticon-heart258:before {
	content: "\e01c";
}
.flaticon-heart:before {
	content: "\e01d";
}
.flaticon-hospital:before {
	content: "\e01e";
}
.flaticon-hospital21:before {
	content: "\e01f";
}
.flaticon-injection:before {
	content: "\e020";
}
.flaticon-dog9:before {
	content: "\e021";
}
.flaticon-plus:before {
	content: "\e022";
}
.flaticon-medical77:before {
	content: "\e023";
}
.flaticon-medical83:before {
	content: "\e024";
}
.flaticon-nurse7:before {
	content: "\e025";
}
.flaticon-home:before {
	content: "\e026";
}
.flaticon-paw:before {
	content: "\e027";
}
.flaticon-pet:before {
	content: "\e028";
}
.flaticon-pets1:before {
	content: "\e029";
}
.flaticon-hotel:before {
	content: "\e02a";
}
.flaticon-pets:before {
	content: "\e02b";
}
.flaticon-food:before {
	content: "\e02c";
}
.flaticon-service:before {
	content: "\e02d";
}
.flaticon-pharmacy3:before {
	content: "\e02e";
}
.flaticon-pill:before {
	content: "\e02f";
}
.flaticon-rabbit:before {
	content: "\e030";
}
.flaticon-stethoscope:before {
	content: "\e031";
}
.flaticon-teeth:before {
	content: "\e032";
}
.flaticon-thermometer:before {
	content: "\e033";
}
.flaticon-toucan:before {
	content: "\e034";
}
.flaticon-woman:before {
	content: "\e035";
}
/* ================= ICON CONTAINERS ================== */
.icon-container {
    position: relative;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.icon-container a {
    outline: none;
    text-decoration: none;
}
.icon-text {
    text-align: center;
}
.icon-text h3 {
    margin-bottom: 20px;
}