{% extends "base.html" %}
{% load static %}
{% block body %}
    <form>
        <div><div>First Name:</div><input type="text" placeholder="First name"></div>
        <div><div>Last Name:</div><input type="text" placeholder="Last name"></div>
        <div><div>Mail Id: </div><input type="text" placeholder="mail"></div>
        <div><div>Contact No: </div><input type="text" placeholder="Contact no."></div>
        <div><div>Specialization: </div><input type="text" placeholder="surgeon etc.,"></div>
        <div><div>Start time: </div><input type="text" ></div>
        <div><div>Closing time: </div><input type="text" ></div>
        <div><div>Address: </div><input type="text" ></div>
        <div><div>District: </div><input type="text" ></div>
        <div><div>State: </div><input type="text" ></div>
        <div><div>Pincode: </div><input type="text" ></div>
        <div><div>LandMark: </div><input type="text" ></div>
        <input type="submit">
    </form>
{% endblock %}