{% load static %}
<!DOCTYPE html>
<html>

<head>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta http-equiv="x-ua-compatible" content="ie=edge">
   <meta charset="utf-8">

   {% block head %}
   <title>India Pets </title>
   {% endblock %}

   <style>
      html {scroll-behavior: smooth;}
   </style>

</head>

<body>
   <nav class="navbar navbar-expand-md  navbar-dark bg-dark fixed-top" style="background-color:#f5f5f5">
      <div class="navbar-header">
         <a class="navbar-brand" style="font-family:'Roboto-Bold-eot'" href="/">&nbsp;India Pets </a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
         <span class="navbar-toggler-icon"></span>
      </button>
     
      <div class="collapse navbar-collapse" id="collapsibleNavbar" style="font-family:'Roboto-Bold-eot'">
         {% if user.is_authenticated %}

         <ul class="navbar-nav  ml-auto">
            <li><a class="nav-link" href="/">Home </a></li>
            <li><a class="nav-link" href="/seller/pets_sell/">Sell </a></li>
            <li><a class="nav-link" href='/accounts/logout/'>Logout</a></li>

         </ul>
         {% else %}
         <ul class="navbar-nav ml-auto">
            <li><a class="nav-link" href="/">Home </a></li>

            <li><a class="nav-link" href="/accounts/signup/">Register </a></li>
            <li><a class="nav-link" href='/accounts/login/'>Login </a></li>
         </ul>
         {% endif %}
      </div>
   </nav><br><br>
   {% block body %}
   This is base for you
   {% endblock %}

</body>

</html>